{% extends "base.html" %}

{% block content %}
    <h1 class="mb-3 text-center" style="font-weight: 300">Admin dashboard</h1>
    <hr>
    <div class="row">
        <!-- Robots -->
        <div class="col-12 col-lg-6">
            <h2 class="font-weight-normal">Robots</h2>
            <div class="row justify-content-start">
                {% for _, bot in bots.items() %}
                    <div class="col-12">
                        {% include 'components/bot_card.html' %}
                    </div>
                {% endfor %}
            </div>
            <hr>
        </div>
        <!-- Map preview -->
        {% set bot = bots['lion'] %}
{#        <div class="col-12 col-lg-6">#}
{#            {% if True %}#}
{#                <div>#}
{#                    <div style="height: 100%; width: 100%;"#}
{#                         class="position-relative">#}
{#                        <img src="{{ url_for('static', filename="img/robot.png") }}"#}
{#                             class="position-absolute col-3"#}
{#                             style="#}
{#                                     top: calc(28px + {{ bot.props['y_loc'] }}*25%);#}
{#                                     left: calc(28px + {{ bot.props['x_loc'] }}*68%);#}
{#                                     "/>#}
{#                        <img src="{{ url_for('static', filename="img/office-maps_map1.svg") }}">#}
{#                    </div>#}
{#                </div>#}
{#            {% endif %}#}
{#        </div>#}
        <!-- Map -->
        <div class="col-12 col-lg-6">
            <h2 class="font-weight-normal">Map</h2>
            <p class="my-auto mr-2">Add office:</p>
            <form class="form-inline mb-2" id="add-office-form" method="post"
                  action="/api/add_office" name="add-office-form">
                {% for var, type, w in [
                    ('x', 'number', 50),
                    ('y', 'number', 50),
                    ('username', 'text', 160),
                ] %}
                    <input class="form-control mr-1"
                           style="max-width: {{ w }}px;" type="{{ type }}"
                           required placeholder="{{ var }}"
                           id="add-office-{{ var }}" name="{{ var }}">
                {% endfor %}
                <button type="submit"
                        class="btn fas fa-plus-circle fa-lg text-success text-decoration-none my-auto"></button>
            </form>
            <hr>
            <ul class="list-group d-flex justify-content-center mx-auto">
                {% for username, person in map.get().items() %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ person.coordinates }}</span>
                        <span class="text-monospace">{{ person.name }}</span>
                        <button class="btn btn-outline-light rounded-pill"
                                data-action="remove-office"
                                data-username="{{ person.username }}">
                            <i class="fas fa-minus-circle text-danger"></i>
                        </button>
                    </li>
                {% endfor %}
            </ul>
            <hr>
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="text-center font-weight-normal">Admin tools</h2>
            <div>
                {% for f, url in [
                    ('api', 'api_help'),
                    ('debug', 'debug_mode'),
                ] %}
                    <a class="btn btn-info"
                       href="{{ url_for(url) }}">{{ f }}</a>
                {% endfor %}

            </div>
            <hr>
        </div>
    </div>
    <hr>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            // refresh EV3 status periodically
            let botRefresh = () => {
                $.get({
                    url: '/api/botinfo',
                    data: $.param({'name': 'lion'}),
                    success: function (msg) {
                        let m = JSON.parse(msg);
                        let card = $('#bot-card-lion');
                        // coordinates
                        card.find('span.bot-coords-x').text(m['x_loc']);
                        card.find('span.bot-coords-y').text(m['y_loc']);
                        // battery
                        let volts = Number.parseFloat(m['battery_volts']).toFixed(2);
                        card.find('span.battery-volts').text(volts);
                        let percent = m['battery_percent'];
                        card.find('span.battery-percent').text(percent);
                        card.find('div.battery-indicator')
                            .css({
                                'width': `${percent}%`,
                            })
                            .prop({'aria-valuenow': percent});
                    }
                });
            };
            // refresh Pi status periodically
            let piRefresh = () => {
                $.get({
                    url: '/api/tcp_server',
                    success: function (msg) {
                        let m = JSON.parse(msg);
                        let card = $('#bot-card-lion');
                        card.find('div.robot-status-light')
                            .attr('data-connected', m['connected']);
                    }
                })
            };
            setInterval(botRefresh, 5 * 1000);
            setInterval(piRefresh, 15 * 1000);

            $('button.btn[data-action="power-off"]').click(function (e) {
                send_cmd("POWEROFF");
                $(this)
                    .prop('disabled', true)
                    .toggleClass('btn-danger')
                    .toggleClass('btn-outline-secondary');
            });

            $('form[name=add-office-form]').submit(function (e) {
                e.preventDefault();
                console.log($(this).serialize());
                $.post({
                    url: '/api/add_office',
                    data: $(this).serialize(),
                    success: function (msg) {
                        console.log(msg);
                        if (msg) {
                            alert(msg);
                        } else {
                            window.location.reload()
                        }
                    }
                });
            });

            $('button.btn[data-action=remove-office]').click(function (e) {
                let username = $(this).attr('data-username');
                if (confirm(`Are you sure you want to remove ${username} from the map?`)) {
                    $.post({
                        url: '/api/remove_office',
                        data: {
                            'username': username,
                        },
                        success: function (msg) {
                            window.location.reload()
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}