{% extends "base.html" %}

{% block content %}
    <h1 class="mb-3 text-center" style="font-weight: 300">Admin dashboard</h1>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h2 class="font-weight-normal">Robots online</h2>
            <div class="row justify-content-start">
                {% for _, bot in bots.items() %}
                    <div class="col-12 col-sm-6">
                        {% include 'components/bot_card.html' %}
                    </div>
                {% endfor %}
            </div>
            <hr>
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="text-center font-weight-normal">Admin tools</h2>
            <div>
                {% for f, url in [
                    ('api', 'api_help'),
                    ('debug', 'debug_mode'),
                ] %}
                    <a class="btn btn-info" href="{{ url_for(url) }}">{{ f }}</a>
                {% endfor %}

            </div>
            <hr>
        </div>
    </div>
    <hr>

{% endblock %}