{# obtains the current url path and removes slashes to highlight on navbar #}
{% set path = request.path[1:request.path.rindex('/')] %}
{% set active_page = path %}
{# assign navbar items #}
{% set navigation_bar = [
    (url_for('send'), 'send', 'Send'),
    (url_for('receive'), 'receive', 'Receive'),
    (url_for('history'), 'history', 'Ticket history'),
] -%}
{#    ('/about/', 'about', 'About'),#}
{#    ('/help/', 'help', 'Help')#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block fulltitle %}
            {% block title %}{{ active_page|capitalize }}{% endblock %} |
            deliver.ai
        {% endblock %}
    </title>
    {% include "styles.html" %}
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-md navbar-dark bg-lightblue shadow text-center sticky-top"
         style="z-index: 10;">
        <div class="container">
            <a href="/" class="navbar-brand">deliver.ai</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto mb-sm-0 mb-2">
                    {% for href, id, caption in navigation_bar %}
                        <li class="nav-item {% if id == active_page %} active{% endif %}">
                            <a class="nav-link"
                               href={{ href }}>{{ caption|e }}</a>
                        </li>
                    {% endfor %}
                </ul>

                {#                {% set username = user.username|default('ash.ketchum') %}#}
                {#                     TODO update this to match request data / cookie / session with user#}
                {% if current_user.is_authenticated %}
                    <div class="btn-group rounded-pill mx-1" role="group"
                         aria-label="Authentication buttons">
                        <a class="btn btn-light px-3"
                           href="{{ url_for('user.login') }}">
                            {{ current_user.username }}
                        </a>
                        <a href="{{ url_for('user.logout') }}"
                           class="btn btn-light border-left">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </div>
                {% else %}
                    <a class="btn btn-light rounded-pill px-3"
                       href="{{ url_for('user.login') }}">Log in</a>
                {% endif %}

                <a href="" class="btn btn-light rounded-pill mx-2">
                    <i class="fas fa-info px-2"></i>
                </a>
            </div>
        </div>
    </nav>
{% endblock %}
{% block pre_content %}{% endblock %}
{% block main_container %}
    <div class="container align-content-center align-items-center mt-4">
        {% block content %}{% endblock %}
        {% block footer %}
            <section id="footer">
                <footer class="align-middle mt-5 mb-3">
                    <hr>
                    <p class="text-dark m-0">&copy; 2019 deliver.ai</p>
                </footer>
            </section>
        {% endblock %}
    </div>
{% endblock %}



{% block scripts %}
    {% include "scripts.html" %}
{% endblock %}
</body>
</html>