{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col col-12 col-md-4">
            <div class="text-center btn-group">
                {% for cmd, text, type in [
                    ('OPEN', 'Open', 'success'),
                    ('CLOSE', 'Close', 'info'),
                ] %}
                    <button class="btn btn-{{ type }} text-center my-4 px-4 py-2" style="font-size: 1.5rem"
            onclick="console.log('sending command: {{ cmd }} ({{ text }})') ; $.ajax('/cmd/{{ cmd }}')">{{ text }}</button>
                {% endfor %}
            </div>
            {% for cmd, text, type in [
                ('GOHOME', 'Go home', 'warning'),
                ('ALARMSTOP', 'Stop alarm', 'danger'),
            ] %}
                {% include '/components/debug_button.html' %}
            {% endfor %}
            <h2>Map changer</h2>
            {% for i in range(1, 3) %}
                <button class="btn btn-outline-success"
                        onclick="$.post('/api/changemap?n={{ i }}')">{{ i }}</button>
            {% endfor %}
        </div>
        <div class="col col-12 col-md-8">
            {% for name, props in debug_items.items() %}
                <div>
                    <h3>{{ name }}</h3>
                    {% for prop, val in props.items() %}
                        <div class="row align-text-bottom">
                            <p class="col col-3 text-right">{{ prop }}</p>
                            <code class="col col-9">{{ val }}</code>
                        </div>
                    {% endfor %}
                </div>
                <hr>
            {% endfor %}
            <h3>Log</h3>
            {% for line in debug_log[:-10:-1] %}
                <p class="text-monospace mb-1">{{ loop.index }} {{ line }}</p>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div>
        <h1>Computed vars:</h1>
        {% for var in vars %}
            <hr>
            <p>{{ var }}</p>
            {#            <p>{{  }}</p>#}
        {% endfor %}

    </div>

{% endblock %}

