{% extends "base.html" %}

{% block content %}
    <h1 class="text-center font-weight-light font-italic">Your details</h1>
    {% include "components/user_info_card.html" %}
    <hr>
    <div class="container">
        <h2 class="text-center font-italic">Past tickets</h2>
        <div class="row">
            <div class="col col-12 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <p class="my-0">Sent ({{ sent | length }})</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for ticket in sent %}
                            {% include 'components/delivery_ticket.html' %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col col-12 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <p class="my-0">Received ({{ received | length }})</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for ticket in received %}
                            {% include 'components/delivery_ticket.html' %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
                {#console.log(`current time = ${$('#pickup-time').val()}`);#}
                // set pickup time to 5 minutes from now
                // $('#delivery-time').val(moment().add(5, 'minutes').format('H:mm'));
            }
        );

        function addTime(amount, scale) {
            let picker = $('#pickup-time');
            // console.log(`current time = ${picker.val()}`);
            $('#pickup-now').prop("checked", amount === 0);

            console.log(`adding ${amount} ${scale}`);
            picker.val(moment().add(amount, scale).format('H:mm'))
        }

        function validatePickup() {
            let form = $('#pickup-form');
            console.log();
        }


    </script>
{% endblock %}
