{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 class="text-center font-italic font-weight-light mb-1">deliver.ai</h1>
    <h3 class="text-center font-weight-light text-info mb-3">secure delivery service</h3>
    <hr>
    <div class="jumbotron p-0 text-center overflow-hidden mb-1">
        <img src="/static/img/bot.jpg" class="img-fluid" style="">
    </div>
    <p class="font-italic text-center">A deliver.ai bot in its natural habitat</p>
    <hr>

{% endblock %}