{% extends 'base.html' %}

{% set bot_here = bot.props.x_loc == user.x and bot.props.y_loc == user.y %}

{% block content %}
    <h1 class="mb-3 text-center" style="font-weight: 300">Pending
        deliveries</h1>
    <hr>
    {% if pending_tickets | length == 0 %}
        <div class="container text-center d-flex flex-column justify-content-center my-5"
             id="error">
            <div>
                <i class="fas fa-coffee fa-5x text-muted mb-3"></i>
                <h1 class="font-weight-light mb-3"
                    style="font-size: 52pt">All done!</h1>
                <h2 class="font-weight-normal mb-4">No pending deliveries.
                    Hooray!</h2>
            </div>
        </div>
    {% else %}
        {% include 'components/user_door_control.html' %}
        <hr>
        <div class="card mx-auto" style="max-width: 800px">
            <div class="card-header align-items-center">
                <div class="row">
                    <p class="col col-auto mb-0 mr-2">Time</p>
                    <p class="col flex-grow-1 mb-0">From</p>
                    <p class="col col-4 col-md-2 mb-0"></p>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                {% for ticket in pending_tickets %}
                    {% if ticket.status.stage < 3 %}
                        <li class="list-group-item">
                            <div class="row">
                                <span class="col col-auto text-monospace my-auto">{{ ticket.created.strftime("%H:%M") }}</span>
                                <p class="col flex-grow-1 my-auto text-ellipsis">{{ ticket.sender.name }}</p>
                                {#                            <i>msg</i>#}
                                <div class="col col-4 col-md-2 text-center">
                                    <div class="badge badge-info badge-pill font-weight-normal"
                                         style="font-size: .9rem">
                                        {{ ticket.stage_text() }}
                                    </div>
                                </div>
                                {#                            <p class="col col-3 col-md-5 mb-0 d-none">{{ ticket.message }}</p>#}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}