{% extends "base.html" %}

{% block content %}
    <h1 class="text-center font-weight-light">Delivering to</h1>
    <div class="row justify-content-center">
        <div class="col-auto card text-center bg-light">
            <div class="card-body">
                <h2 class="font-weight-normal">{{ recipient.last }}, {{ recipient.first }}</h2>
                <code class="text-info">{{ recipient.username }}</code>
                <p class="mb-0 mt-2">Office {{ recipient.coordinates }}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container text-center">
        <div class="card mx-auto" style="max-width: 300px;">
            <div class="card-body">
                <h3 class="card-title mb-0">Delivery details</h3>
                <hr>
                <form action="" method="post">
                    <div class="form-group">
                        <label for="delivery-time">Delivery time</label>
                        <input type="time" class="form-control w-auto mx-auto" name="Delivery time" title="Delivery time"
                               id="delivery-time" placeholder="Time of delivery">
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="urgent-check">
                        <label class="custom-control-label" for="urgent-check">Urgent</label>
                    </div>
                    <button type="submit" class="btn btn-primary" formaction="">Submit!</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}