<!-- jquery -->
<script src="/static/js/jquery-3.3.1.js"></script>
<!-- bootstrap -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- moment.js -->
<script src="/static/js/moment.min.js"></script>

<script>
    const send_cmd = cmd => {
        console.log(`sending command: '${cmd}'`);
        $.ajax(`/cmd/${cmd}`);
    };

    $(document).ready(function () {
        // door open / close user controls
        $('button[data-cmd]').click(function (e) {
            if (!$(this).prop('disabled')) {
                let cmd = $(this).attr('data-cmd');
                // toggle state on open
                if (cmd === 'OPEN') {
                    $(this)
                        .prop('disabled', true)
                        .toggleClass('btn-success')
                        .toggleClass('btn-outline-secondary');
                    setTimeout(function () {
                        $('button[data-cmd=CLOSE]')
                            .prop('disabled', false)
                            .toggleClass('btn-danger')
                            .toggleClass('btn-outline-danger')
                    }, 3000)
                } else if (cmd === 'CLOSE') {
                    // wait a little before engaging 'close' button
                    $(this)
                        .prop('disabled', true)
                        .toggleClass('btn-danger')
                        .toggleClass('btn-outline-secondary');
                }
                send_cmd(cmd);
            }
        });
    });
</script>