{% extends "base.html" %}

{% block content %}
    <h1 class="mb-3 text-center" style="font-weight: 300">Send to</h1>
    <input class="mb-3 mx-auto form-control ds-input" style="max-width: 300px;" id="recipient-search"
           title="Search recipients"
           type="search" placeholder="Search...">
    <hr>
    <div class="row">
        {% for recipient in recipients %}
            <div class="col-12 col-sm-6 col-lg-3">
                {% with user = recipient %}
                    {% include 'components/user_card.html' %}
                {% endwith %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

