{% extends "base.html" %}

{% block content %}
    <h1 class="text-center font-weight-light">Sending to</h1>
    {% with user = recipient %}
        {% include "components/user_info_card.html" %}
    {% endwith %}
    <hr>
    <div class="container text-center">
        <div class="card mx-auto" style="max-width: 360px;">
            <div class="card-body">
                <h3 class="card-title mb-0">Delivery details</h3>
                <hr>
                <form method="post" id="pickup-form">
                    <div class="form-group mb-1">
                        <label for="pickup-time">Pickup time (your
                            office: {{ sender.coordinates }})</label>
                        {% set pickup_time = (dt.datetime.utcnow() + dt.timedelta(minutes=5)).strftime("%H:%M") %}
                        <input type="time"
                               class="form-control w-auto mx-auto mb-2"
                               name="pickup-time"
                               title="Pickup time" value="{{ pickup_time }}"
                               id="pickup-time" placeholder="Time of delivery"
                               required>
                        <input hidden type="checkbox" id="pickup-now"
                               name="pickup-now">
                        <div class="btn-toolbar btn-group-toggle"
                             data-toggle="buttons" role="toolbar">
                            <!-- class btn-toolbar  -->
                            <label class="btn btn-outline-info rounded-pill mb-1 mx-auto"
                                   onclick="addTime(0)">
                                <input type="radio" name="options"
                                       id="pickup-now-btn">
                                now
                            </label>
                            <div class="btn-group rounded-pill mb-1 mx-auto">
                                {% for d, scale in [
                            (5, 'minutes'),
                            (10, 'minutes'),
                            (30, 'minutes'),
                            (1, 'hours'),
                            ] %}
                                    <label class="btn btn-outline-info {% if d == 5 %}active{% endif %}"
                                           onclick="addTime({{ d }}, '{{ scale }}')">
                                        <input type="radio" name="options"
                                               id="pickup-{{ d }}-{{ scale[:1] }}-btn">
                                        {{ d }}{{ scale[:1] }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="mb-0">estimated transit time</p>
                        <div class="rounded-pill border border-success mx-auto font-weight-light d-flex justify-content-center"
                             style="font-size: 1.5rem; width: 7.5rem;">
                            <p class="my-auto mx-2">{{ sender.distance_to(recipient) }}</p>
                            <p class="my-auto" style="font-size: 1rem">
                                minutes</p>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="delivery-message">Contents</label>
                        <input type="text" class="form-control w-100 mx-auto"
                               name="delivery-message"
                               title="Delivery message"
                               id="delivery-message"
                               autocomplete="off"
                               placeholder="What are you sending?" required>
                    </div>
                    <div class="btn-block d-flex justify-content-around">
                        <a href="{{ url_for('send') }}"
                           class="btn btn-danger rounded-pill btn-upper mx-1 px-3">Cancel
                            <i class="fas fa-sm fa-fw fa-ban"></i></a>
                        <button type="submit"
                                class="btn btn-info rounded-pill btn-upper mx-1 px-3">
                            Send
                            <i class="fas fa-sm fa-fw fa-paper-plane"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
                {#console.log(`current time = ${$('#pickup-time').val()}`);#}
                // set pickup time to 5 minutes from now
                // $('#delivery-time').val(moment().add(5, 'minutes').format('H:mm'));
            }
        );

        function addTime(amount, scale) {
            let picker = $('#pickup-time');
            // console.log(`current time = ${picker.val()}`);
            $('#pickup-now').prop("checked", amount === 0);

            console.log(`adding ${amount} ${scale}`);
            picker.val(moment().add(amount, scale).format('HH:mm'))
        }

        function validatePickup() {
            let form = $('#pickup-form');
            console.log();
        }
    </script>
{% endblock %}
