{% extends "base.html" %}

{% block content %}
    <h1 class="text-center font-weight-light">Your pickup is scheduled!</h1>

    <div class="row justify-content-center">
        {% with user = sender %}
            {% include "components/user_info_card.html" %}
        {% endwith %}

        <div class="col-lg-auto col-md-12 my-auto my-3 text-center">
            <i class="fas fa-3x fa-fw mx-2 my-4 text-secondary align-middle fa-angle-right"></i>
            <i class="far fa-5x fa-fw mx-2 my-4 text-success align-middle fa-check-circle"></i>
            <i class="fas fa-3x fa-fw mx-2 my-4 text-secondary align-middle fa-angle-right"></i>
        </div>

        {% with user = recipient %}
            {% include "components/user_info_card.html" %}
        {% endwith %}
    </div>
    <hr>
    <div class="container text-center">
        <div class="card mx-auto" style="max-width: 360px;">
            <div class="card-body">
                <h3 class="card-title mb-0">Your ticket</h3>
                <code># 123</code>
                <hr>
                <div class="container text-left align-middle">
                    {% for prop, (name, val) in ticket.to_params().items() %}
                        <div class="row my-2">
                            <p class="col col-5 my-auto">{{ name }}</p>
                            <code class="col col-7 my-auto">{{ val }}</code>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}
    {#
<script>#}
    {#        $(document).ready(function () {#}
    {#console.log(`current time = ${$('#pickup-time').val()}`);#}
    {#                // set pickup time to 5 minutes from now#}
    {#                // $('#delivery-time').val(moment().add(5, 'minutes').format('H:mm'));#}
    {#            }#}
    {#        );#}
    {##}
    {#        function addTime(amount, scale) {#}
    {#            let picker = $('#pickup-time');#}
    {#            // console.log(`current time = ${picker.val()}`);#}
    {#            $('#pickup-now').prop("checked", amount === 0);#}
    {##}
    {#            console.log(`adding ${amount} ${scale}`);#}
    {#            picker.val(moment().add(amount, scale).format('H:mm'))#}
    {#        }#}
    {##}
    {#        function validatePickup() {#}
    {#            let form = $('#pickup-form');#}
    {#            console.log();#}
    {#        }#}
    {#
</script>#}
{% endblock %}
