<div class="card border-light mb-3 shadow-hover text-decoration-none text-center">
    <div class="card-body">
        <div class="card-title">
            <p class="mb-0 card-name text-ellipsis">{{ user.last }}
                <span style="font-size: 1.2rem"> , {{ user.first }}</span>
            </p>
            <code class="text-info">{{ user.username }}</code>
        </div>

        <p class="card-text">Office {{ user.coordinates }}</p>
        <div class="text-center">
            <a href="{{ user.username }}"
               class="btn btn-info btn-upper stretched-link">Schedule <i
                    class="fas fa-pen fa-sm"></i>
            </a>
        </div>
    </div>
</div>
