{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="p-4 mx-auto">
        <h1 class="text-center font-italic font-weight-light mb-1">deliver.ai</h1>
        <h3 class="text-center font-weight-light text-info mb-3">secure delivery service</h3>
    </div>
    <hr>
    <div class="text-center py-4 py-sm-5 px-3">
        <h3 class="font-italic font-weight-light">Get your stuff from A to B, the easy way</h3>
        <p>deliver.ai aims to ease the process of delivering physical items, with a secure point-to-point delivery
            service</p>
    </div>
    <hr>
    <div class="jumbotron p-0 text-center overflow-hidden mb-1">
        <img src="{{ url_for('static', filename='img/bot.jpg') }}" class="img-fluid" style="">
    </div>
    <p class="font-italic text-center">A deliver.ai bot in its natural habitat</p>
{% endblock %}