.bg-lightblue {
    background-color: #62b0ff;
}

.bg-lightblue:hover {
    background-color: #5ca2ec;
}

.card-name {
    font-weight: 300;
    font-size: 1.8rem;
}

.btn-upper {
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-weight: 500;
}

.shadow-hover {
    box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, .075);
    transition: 0.4s box-shadow ease;
}

.shadow-hover:hover {
    box-shadow: 0 .25rem .8rem .1rem rgba(0, 0, 0, .1);
    transition: 0.2s box-shadow ease;
}