.bg-lightblue {
    background-color: #17a2b8;
}

/*.btn.bg-lightblue:hover {*/
/*background-color: #5ca2ec;*/
/*}*/

.card-name {
    font-weight: 300;
    font-size: 1.8rem;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes blink {
    50% {
        opacity: 0.3;
    }
}

.robot-status-light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: blink 3s cubic-bezier(0, 0, 0.1, 1) 0s infinite;
}

.robot-status-light[data-connected="true"] {
    background-color: #28a745;
}

.robot-status-light[data-connected="false"] {
    background-color: #dc3545;
}

.btn-upper {
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-weight: 400;
    margin: 0;
    color: #fff;
}

.btn-upper:hover {
    color: #fff;
}

.shadow-hover {
    box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, .075);
    transition: 0.4s box-shadow ease;
}

.shadow-hover:hover {
    box-shadow: 0 .25rem .8rem .1rem rgba(0, 0, 0, .1);
    transition: 0.2s box-shadow ease;
}